/*  your css code here. If applicable */
nav {
    background-color: #D3D3D3;
    padding: 10px;
	container:box;
}

/* Remove default list styles */
ul {
    list-style: none;
	display:flex
}

/* Display list items horizontally */
ul li {
    margin-right: 1rem;
}

/* Style links in list items */
ul li a {
    text-decoration: none;
    color: #000; /* Set link color */
    font-weight: bold;
}






